@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{    --primary-color:#71a6bd;
    --secondary-color:#849694;
    --accent1-color:#dce3e1;
    --accent2-color: #fff8e7;
    --heading-font: "Roboto", serif;
    --paragraph-font: "Roboto", serif;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 5px;
    text-align: center; 
    color: white;
    font-size: xx-large;
    background-color: rgba(220, 219, 225, 0.212);
}

h1 {
    font-family: var(--heading-font);
    text-align: center;
    font-style: normal;
    font-weight: 900;
}

h2{
    text-align:center;
    font-size:large;
    padding-left: 20px;
    font-family:var(--heading-font);
    font-weight: 400;
    font-style: normal;
    text-align: center;

}

header img{
    width: 100px;
}

article img:not(.exception){ 
    float: right;
    padding: 5px;
    width: 200px;
}

article{
    position: absolute;
    bottom: 0.5px;
    width: 950px;
    height: auto;
    color: honeydew;
    background-color: rgba(240, 237, 237, 0.5);
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

*{
    width: 100%
}

header{
    display: grid;
    max-width: 100px;
    grid-template-columns: auto 1fr;
    align-items:center;
    padding: 10px 
} 

header nav {
    
    width: 100%;
    display: flex;
    text-align:center;
    list-style:none;
}
body{
    max-width: 950px;
    padding:20px;
    font-family: var(--paragraph-font);
}

.history-grid {
    display: grid;
    width: 960px;
    grid-template-columns:repeat(3, 1fr);    
}

.history-grid img{
    width: 100%;
    height: auto;
}


.adventure-grid img{
    width: 100px;
    height: auto;
}

.adventure-grid {
    display: grid;
    grid-template-columns:repeat(5,1fr);
    gap:10px;
}

.adventure figcaption{
    font-size: small;
}

p {
    padding: 20px;
}

nav a {
    text-decoration: none;
    padding: 1rem;
}

a:hover {
	color:lightsteelblue;
	font-weight: 700;
	text-decoration:solid;
}

a img{
    width: 100px;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer nav{
    align-self: center;
    flex: 1;
}

footer p{
    flex: 3;
}

footer img{
    width: 30px;
}
/*Contact Us */
.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 450px;
}

.info div h3, 
.info div p {
    margin: 5px 0;
    padding: 0; 
}

#username, #useremail {
    width: 15rem;
}

input[type="radio"],
input[type="checkbox"] {
    margin-left: 10px;
}

.questions {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
input, select, textarea {
    padding: .5rem;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
}
iframe {
    width: 15rem;
    height: 15rem;
    align-self: self-end;
}

figcaption {
    font-size: smaller;
    font-style:normal;
    align-items: center;
}

button {
    margin: 1rem;
    background-color:#71a6bd;
    color: #fff;
    border: none;
    border-radius: 1rem;
    padding: .75rem;
    font-size: 1.2rem;
    width: 10rem;
    text-align: center;
}

.questions p {
    padding: 0;
}

.button-container {
    display: flex;
    justify-content: center;
}

  button:hover {
    background-color: rgb(114, 89, 230);
    
}

.employees img {
    width: 10rem;
    height: auto;
}

.employees {
    display: flex;
}

textarea {
    width: 400px;
}
